<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /meditrek/admin
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /meditrek/admin/index.html [L]
</IfModule>